<app-header></app-header>



<div class="container mt-5">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center"></h4>
            <h2 class="text-center"> Welcome </h2>
            <hr>
        </article>

        <div class="form-group row mx-auto">
            <div class="col-md-6">
                <button type="button"  routerLink="/send" class="btn btn-success btnOption">Send</button>
            </div>
            <div class="col-md-6">
                <button type="button" routerLink="/receive" class="btn btn-info btnOption btnFontWhite">Receive</button>
            </div>
        </div>
        <br>

    </div>

    <br>



</div>