<app-header></app-header>



<div class="container mt-5">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center"></h4>
            <h2 class="text-center"> Welcome </h2>
            <hr>
            <label for="formFileMultiple" class="form-label">Select Image</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple />
          
        </article>
    </div>

</div>